<html>

<head>
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id = "contact-list">
        <i class="fas fa-address-book"></i> My Contacts List</h1>
    <div>
        <ul>
            <% for (i of contact_List){%>
                <li>
                    <p>
                        <%= i.name %>
                    </p>
                    <p>
                        <%= i.phone %>
                    </p>
                </li>
                <%} %>
        </ul>
    </div>

    <form action="/create-contact" method="post">
        <input type="text" name = "name" placeholder="Enter Name" required>
        <input type="number" name = "phone" placeholder="Enter no." required>
        <button type="submit"> Add Contact</button>
        
    </form>

    <script type="text/javascript" src="/js/home.js">

    </script>
</body>

</html>